<h1>Manage Expenses</h1>
<p *ngIf="!data"><em>Loading...</em></p>
<button (click)="openModal('custom-modal-1')" class="btn btn-primary btn-add-new">Add New</button>
<table class='table table-bordered table-expenses' *ngIf="data" [mfData]="data" #mf="mfDataTable">
    <thead>
        <tr>
            <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
            <th><mfDefaultSorter by="amount">Amount ($)</mfDefaultSorter></th>
            <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
            <th><mfDefaultSorter by="type">Type</mfDefaultSorter></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of mf.data">
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.type }}</td>
            <td><button class="btn">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>

<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
