<h1>Manage Expenses</h1>
<p *ngIf="!data"><em>Loading...</em></p>
<button (click)="openModal('expense-modal')" class="btn btn-primary btn-add-new">Add New</button>
<table class='table table-bordered table-expenses' *ngIf="data" [mfData]="data" #mf="mfDataTable">
    <thead>
        <tr>
            <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
            <th><mfDefaultSorter by="amount">Amount ($)</mfDefaultSorter></th>
            <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
            <th><mfDefaultSorter by="type">Type</mfDefaultSorter></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of mf.data">
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.type }}</td>
            <td><button class="btn" (click)="openEditModal('expense-modal', expense)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="openDeleteModal('delete-modal', expense.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<modal id="expense-modal">
    <div class="modal">
        <div class="modal-body">
            <div class="container">
                <h1 class="well">Add Expense</h1>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">Description</div>
                            <div class="col-md-6">
                                <input [(ngModel)]="description" class="form-control input-md" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Amount</div>
                            <div class="col-md-6">
                                <input [(ngModel)]="amount" class="form-control input-md" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Date</div>
                            <div class="col-md-6">
                                <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                    [(ngModel)]="currentDate" required></my-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Type</div>
                            <div class="col-md-6">
                                <ng-select
                                    [options]="types"
                                    [(ngModel)]="type">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br/>
                <div class="well">
                    <button class="btn btn-success" (click)="save('expense-modal');">Save</button>
                    <button class="btn btn-danger" (click)="closeModal('expense-modal');">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="delete-modal">
    <div class="modal">
        <div class="modal-body">
            <div class="container">
                <h1 class="well">Are you sure you wants to delete this expense?</h1>
                <button class="btn btn-danger" (click)="delete('delete-modal', expenseId);">Delete</button>
                <button class="btn" (click)="closeModal('delete-modal');">Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
